@model IEnumerable<cleanArchWebApp.ApplicationCore.Enities.Project>

@{
    ViewData["Title"] = "Index";
    ViewBag.owner = Model.First().Owner;

}
<div style="padding:120px;" >


    <h1>Index</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary ">Create New</a>
    </p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>

                    @Html.DisplayNameFor(model => model.First().ProjectName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().ImagePath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Budget)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
               
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImagePath)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Budget)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>